<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shanmukha Prakash's Assignment</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body class="container">
  <div class="title">
    <h1>Shanmukha Prakash</h1>
    <p>Instructions!</p>
    <li>
      Don't reload while excuting the process
    </li>
    <li>
      You can add the members to the group using "Add member to group" division
    </li>
    <li>
      After adding the members to the group. Then use the drop down option to add the activities, that which user sends
      money.
    </li>
    <li>While adding you can see the total expenses changes. But insert all the activites like select a name from drop
      down and enter the cost spent by that particular user.</li>
    <li>You can see the amount per head can easily calculated using total amount divided by total number of members</li>
    <li>After adding the activites. Click "Get Distribution of who owes whom!" button you will get the information
      needed.</li>
    <li> You will get the output under "Distributions of who owes whom!" header</li>
    <li>The distribution will be done on the first user inputs.</li>
  </div>

  <div class="container mt-5">


    <div>
      <div>
        <h2>Add member to group</h2>
        <li>
          <input type="text" placeholder="Add member to group" (keyup.enter)="addMember()"
            [(ngModel)]="groupMemberName">
          <button type="button" class="btn btn-outline-primary" (click)="addMember()">Add</button>
        </li>
        <div>
          <ul>
            <p>{{groupMembersList}}</p>
            <li *ngFor="let member of groupMembersList">
              <p>{{ member }}</p>

            </li>
          </ul>
        </div>
      </div>


      <div class="container mt-5">
        <h3>Activity</h3>
        <select [(ngModel)]="selectedMember">
          <option *ngFor="let member of groupMembersList" value="{{member}}">{{member}} </option>
        </select>
        <input type="number" [(ngModel)]="activityCost">
        <button type="button" class="btn btn-outline-primary" (click)="activitySubmit()">Submit</button>
        <table>
          <tr>
            <td>Name</td>
            <td>Paid</td>
          </tr>
          <tr *ngFor="let member of groupMembersList;let i=index">
            <td>{{ member }}</td>
            <td>{{ paymentList[i] }}</td>

          </tr>
        </table>

        <p><strong>Total Expenses: {{totalAmount}}</strong></p>
        <p><strong>Amount Per head: {{amountPerHead}}</strong></p>
        <button type="button" class="btn btn-outline-primary" (click)="getResult()">Get Distributions of who owes
          whom!</button>



      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h1>Distributions of who owes whom!</h1>
    <p *ngFor="let message of messages"><strong>{{message}}</strong></p>
  </div>

</body>

</html>